https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_Types

# Request type
- [X] Correction or update


# Details

https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_Types

![Screenshot_20201116_145725](https://user-images.githubusercontent.com/68528216/99236327-f7525580-27ee-11eb-99ce-838af8447747.png)

Underlined line isn't conveying proper message.

Through out the document consistent way has been to mention the mime type like `text/plain`, `audio/mp3`, but this one looks out of the place `message/rfc822`, It doesn't exist in [IANA Listing](https://www.iana.org/assignments/media-types/media-types.xhtml#message)

I think it's a mistake, if not please expand on it.

Thank you.





The `rfc822` subtype is actually listed at https://www.iana.org/assignments/media-types/media-types.xhtml#message — in the left-most column — as part of the `message` type registry.

And the registry entry for that `rfc822` subtype cites https://tools.ietf.org/html/rfc2046#section-5.2.1, which defines it:

> A media type of "message/rfc822" indicates that the body contains an encapsulated message, with the syntax of an RFC 822 message.

And https://tools.ietf.org/html/rfc2046 and https://tools.ietf.org/html/rfc2045 both contain further details about it.

So it’s not actually a mistake for the MDN article to mention it.

>  please expand on it

What the MDN article currently says seems basically in alignment already with what RFC 2046 and RFC 2045 say.

Do you have any specific suggestion for how you think it should be expanded on in the MDN article?









I wrote everything on the assumption of `message/rfc822` isn't available in IANA list.

I was just looking in the Template section(column 2).

> Do you have any specific suggestion for how you think it should be expanded on in the MDN article?
No, everything is fine.

Thanks a lot for your reply.

I'm closing this issue.