 Discrepancy in description of "Content-Disposition" header on MDN

Cross-filed from https://bugzilla.mozilla.org/show_bug.cgi?id=1492634

Steps to reproduce:

I was browsing:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition#As_a_header_for_a_multipart_body


Actual results:

The content of that document states that, in an HTTP request this is an acceptable "Content-Disposition" header:
Content-Disposition: form-data


Expected results:

As per RFC 7578 Section 4.2
https://tools.ietf.org/html/rfc7578#section-4.2

I see the following statement:
"
The Content-Disposition
   header field MUST also contain an additional parameter of "name"; the
   value of the "name" parameter is the original field name from the
   form (possibly encoded; see Section 5.1).
"

This seems to imply that the "Content-Disposition: form-data" header without "name" attribute would be incorrect? This seems to be a discrepancy in what we are seeing.

@chrisdavidmills Good catch. Yes, the name directive is _required_. Essentially the Content-Disposition is used to provide information about each of the fields in the form, and is how the recipient knows which field the data is relevant too. Every part must have _at least_ `Content-Disposition: form-data; name="fieldName"`. Further (FYI) a field might carry multiple files; each would have the same field name and additional filename.

Without the name the system won't work because there form and HTTP have no "mapping".

I have updated the section https://wiki.developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition#As_a_header_for_a_multipart_body to add this context. Please sanity check that section (just 1 paragraph and some code)

FYI I didn't make the further clarification that the name does not HAVE to match the field name in the form (it may be encoded). If you read the encoding section in the spec it is pretty clear that it can and should match the field name; the fact that you can work around this in some cases would just be confusing for most users.

@chrisdavidmills I've looked at this again and I'm happy that it is a "good" fix. So closing. Feel free to check the section when/if you have time.

Yup, LGTM!